{% load static %}
{% block bscss %}
<link href="{% static 'afternoon_activity/node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
<link rel="stylesheet" href="{% static 'afternoon_activity/scss/custom.css' %}"/>
{% endblock %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{% static 'afternoon_activity/img/Camp-T_logo-rounded.png' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% block title %}
      Home Page
    {% endblock title %}
      </title>
  </head>
  {% comment %} ############### {% endcomment %}
  <body>
    <div style="padding-bottom: 80px;">
    {% include '../navbar.html' %}
    </div>
    <div class="container">
      {% block main_content %}
      <div class="text-center">
        <h1>Welcome to the Home Page!</h1>
      </div>
      {% endblock main_content %}
    </div>
    
  </body>
</html>

{% block scripts %}
<script src="{% static 'afternoon_activity/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}