camp_t/__pycache__
__pycache__

afternoon_activity/static/afternoon_activity/node_modules/bootstrap
afternoon_activity/static/afternoon_activity/node_modules/@popperjs
.DS_Store
../.DS_Store
.env
staticfiles
django

afternoon_activity/.DS_Store
afternoon_activity/__pycache__
