{% extends './base/base.html' %}
{% block title %}
  {{ selected_activity.period }} Camper List
{% endblock %}
{% block main_content %}
  <div>
    <form method="post" action="{% url 'afternoon_activity:activity_sheet' session_id=url_session_number activityPK=url_activityPK %}">
        {% csrf_token %}
        <label for="activity-date">Select date:</label>
        <input type="date" id="activity-date" name="activity-date" value="{{ current_date }}"/>
        <button type="submit" class="btn btn-secondary btn-sm">Update List</button>
      </form>
    <div class="alert alert-light" style="margin-top: 10px;" role="alert">
      Current date is <strong>{{ activity_date }}</strong>
    </div>{% for activity in  activities %}   
    <h1>{{activity}}</h1>
    <table class="table table-striped table-primary text-center">
      <thead>
        <tr>
          <th>Cabin</th>
          <th>Camper</th>
        </tr>
      </thead>
      <tbody>
        {% for camper in campers %}
          <tr>
            <td>{{ camper.sessioncabin_for_camper.cabin.cabin_number }}</td>
            <td>{{ camper.first_name }} {{ camper.last_name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>        
    {% endfor %}
  </div>
{% endblock %}
