{% extends './base/base.html' %}
{% load static %}

{% block title %}
  Cabin
{% endblock %}

{% block main_content %}
  <h1 class="text-danger">{{ selected_activity.period }} Selection</h1>
  <div class="container text-center">
    <div class="row">
      {% comment %}Left Side{% endcomment %}
      <div class="col col-8">
        <label for="activity-date">Select date:</label>
        <form method="post">
          <input type="date" id="activity-date" name="activity-date" />
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary btn-sm">Update Activities</button>
        </form>
        <div class="alert alert-light" style="margin-top: 10px;" role="alert">Current date is {{ activity_date }}</div>
        <table class="table table-striped table-primary">
          <thead>
            <tr>
              <th>Cabin #</th>
              <th>Camper</th>
              <th>{{ selected_activity.period }}</th>
              <th>Rainy Day Activity</th>
              <th>Submit</th>
            </tr>
          </thead>
          <tbody>
            <form method="post" action="{% url 'afternoon_activity:processing' session_id=session_id activityPK=activityPK cabin_id=cabin_id %}">
              {% csrf_token %}
              {% for camper in campers_in_cabin_x %}
                <tr>
                  <td>{{ cabin.cabin_number }}</td>
                  <td>{{ camper.first_name }} {{ camper.last_name }}</td>
                  <td>
                    <select class="form-select" name="activity_id_{{ camper.id }}">
                      {% for activity in main_activities %}
                        <option value="{{ activity.id }}">{{ activity.activity }}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td>
                    <select class="form-select" name="rainy_day_activity_id_{{ camper.id }}">
                      {% for rainy_day_activity in rainy_day_activities %}
                        <option value="{{ rainy_day_activity.id }}">{{ rainy_day_activity.activity }}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td>
                    <input type="hidden" name="camper_id_{{ camper.id }}" value="{{ camper.id }}" />
                    <button type="submit" name="submit_one_camper" value="{{ camper.id }}" class="btn btn-danger">Submit {{ camper.first_name }} {{ camper.last_name }}</button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
              <button type="submit" name="submit_all_campers" class="btn btn-primary btn-lg">Submit All</button>
            </form>
      </div>
      {% comment %}Right Side{% endcomment %}
      <div class="col col-4">
        <table class="table table-striped table-primary text-center">
          <thead>
            <tr>
              <th>Activity</th>
              <th>Spots Remaining</th>
            </tr>
          </thead>
          <tbody>
            {% for activity in main_activities %}
              <tr>
                <td>{{ activity.activity }}</td>
                <td>{{ activity.spots_left }}</td>
              </tr>
            {% endfor %}
          </tbody>
          <tbody class="table-warning">
            {% for rainy_day_activity in rainy_day_activities %}
              <tr>
                <td>{{ rainy_day_activity.activity }}</td>
                <td>{{ rainy_day_activity.spots_left }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="table table-striped table-primary text-center">
          <thead>
            <tr>
              <th>Camper</th>
              <th>Activity</th>
            </tr>
          </thead>
          <tbody>
            {% for activity in main_activities %}
            {% for camper in activity.campers.all %}
              <tr>
                <td>{{ camper.first_name }} {{ camper.last_name }}</td>
                <td>{{ activity.activity }}</td>
              </tr>
            {% endfor %}
          {% endfor %}
          </tbody>
        </table>     
       </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'afternoon_activity/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      let tomorrow = new Date();
      tomorrow.setDate(tomorrow.getDate() + 1);
      let dd = String(tomorrow.getDate()).padStart(2, '0');
      let mm = String(tomorrow.getMonth() + 1).padStart(2, '0'); //January is 0!
      let yyyy = tomorrow.getFullYear();
      let dateString = yyyy + '-' + mm + '-' + dd;
      document.getElementById('activity-date').value = dateString;
    })
  </script>
{% endblock %}
