<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% comment %} {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %} {% endcomment %}
    <meta charset="utf-8" />
    <title>Activity Page</title>
  </head>
  <body>
    {% if list_of_campers_in_cabin_x %}
    <ul>
      {% for camper in list_of_campers_in_cabin_x %}
      <li><a href={% url '' question.id %}">{{camper}}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
  </body>
</html>
